@font-face {
  font-family: "Space Grotesk";
  src: url("/static/fonts/SpaceGrotesk-Regular.woff") format("woff"),
       url("/static/fonts/SpaceGrotesk-Regular,woff2") format("woff");
}

@font-face {
  font-family: "Libre Baskerville";
  src: url("/static/fonts/LibreBaskerville-Bold.ttf"),
       url("/static/fonts/LibreBaskerville-Italic.ttf"),
       url("/static/fonts/LibreBaskerville-Regular.ttf");
}

body {
  font-family: "Libre Baskerville";
}

blockquote {
  padding: 1em;
  background-color: #CCE5FF;
  border: 1px solid black;
}

h1, h2, h3, h4 {
  font-family: "Space Grotesk";
}

div.head {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr; 
}

div.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

div.lib_chat {
  display: grid;
  grid-template-columns: 200px 400px;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
