@font-face {
  font-family: "Space Grotesk";
  src: url("/static/fonts/SpaceGrotesk-Regular.woff") format("woff"),
       url("/static/fonts/SpaceGrotesk-Regular,woff2") format("woff");
}

@font-face {
  font-family: "Libre Baskerville";
  src: url("/static/fonts/LibreBaskerville-Bold.ttf"),
       url("/static/fonts/LibreBaskerville-Italic.ttf"),
       url("/static/fonts/LibreBaskerville-Regular.ttf");
}

body {
  font-family: "Libre Baskerville";
}

h1, h2, h3, h4 {
  font-family: "Space Grotesk";
}

div.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
