<!doctype html>
<html lang="en">
  <head>
  <meta charset="utf-8">
   <title>Suitcase Library {% if branch %}Branch: {{ branch }}{% endif %}</title>
   <link rel="stylesheet" href="/static/css/default.css"></link>
   <link rel="stylesheet" href="/static/css/win98.css"></link>
  </head>
  <body>
    <h3>Suitcase Library {% if branch %}Branch: {{ branch }}{% endif %}</h3>
    <h1>Welcome to the Library!</h1>
   
    <div class="main">
      <div>
        {% include 'library-catalog.html' %}
        <blockquote>
          What happens if we have to recreate our culture and civilization from a portable
          library? What if we were all refugees from some calamity and all we had to bootstrap
          ourselves in a constrained, transportable physical object? What should be in that?
        </blockquote> 
        <p>
           An ongoing art project in creating an "end-of-world" or a "bug out bag" library of 
           conventional and electronic resources, all constrained by the size of medium roller suitcase.
        </p>
      </div>
	<!-- <img src="/static/img/library-qr-code.png" alt="github repo url qr code" />
        <div class="window" style="margin: 32px; width: 250px">
          <div class="title-bar">
            <div class="title-bar-text">
             The next thing
            </div>
          </div>
          <div class="window-body">
            <p>Please</p>
          </div>
       </div> -->
       <div>
        {% include 'ask-a-librarian.html' %}
        </div>
    </div>
    
   
    <div id="access-grid">
      <div>
        <img src="/static/img/address_book-0.png" />
        <img src="/static/img/help_book_cool-0.png" />
      </div>
      <div>
	<img src="/static/img/CardIcon.png" />
	<img src="/static/img/CardFile.png" />
      </div>
      <div>
	<img src="/static/img/cd_audio_cd_a-0.png" alt="Music" />
	<img src="/static/img/movie_maker-1.png" alt="Video &amp; Movies" />
      </div> 

    </div>
  </body>
</html>
