{% extends 'base.html' %}

{% block body %}
  <header>
    <div>
      <h2>Suitcase Library</h2> 
     {% if branch %}<h3>Branch: {{ branch }}</h3>{% endif %}
    </div>
    <div>
      {% include 'header.html' %}
     </div>
    </header>
    <div class="head">
       <div>

       </div>
       <div>

       </div>
    </div>
    <div class="main">
      <div>
        <blockquote>
          What happens if we have to recreate our culture and civilization from a portable
          library? What if we were all refugees from some calamity and all we had to bootstrap
          ourselves in a constrained, transportable physical object? What should be in that?
        </blockquote> 
        {% include 'ask-a-librarian.html' %}
      </div>
       <div>
        {% if branch %}
          <img src="/static/img/{{ branch }}_front.png" alt="Books" />
       {% endif %}
        
        </div>
    </div>
    <div class="window">
      <div class="window-body">
        Suitcase Library
      </div>
    </div>
 </body>
 {% endblock %}
