<div class="window" style="margin: 32px; width: 325px">
    <div class="title-bar">
        <div class="title-bar-text">
        Library Catalog   
        </div>
    </div>
    <div class="window-body">
    <fieldset>
       <input type="text" id="library-search" name="library-search" style="width: 200px"></input>
       <button onClick="searchCatalog()">Search</a>
    </fieldset>
    <fieldset>
    <a href="#" onClick="console.log(`Book`); return false">
        <img src="/static/img/address_book-0.png" /></a>
        <img src="/static/img/CardIcon.png" />
        <img src="/static/img/CardFile.png" />
    <img src="/static/img/cd_audio_cd_a-0.png" alt="Music" />
        <img src="/static/img/movie_maker-1.png" alt="Video &amp; Movies" />
        <img src="/static/img/help_book_cool-0.png" />
    </fieldset>
    </div>
</div>

<script>
  function searchCatalog() {
   const search_input = document.getElementById('library-search');
   alert(`Searched catalog for ${search_input.value}`);
   search_input.text = ""; 
  }
</script>
